*{
   padding: 0px;
   margin: 0px;
   box-sizing: border-box;
}
header{
   background-color: #bbbbbb;
   padding: 20px 0;
}
.caixa{
   position: relative;
   width: 940px;
   margin: 0 auto;
}
nav{
   position: absolute;
   top: 110px;
   right: 0;
}
nav li{
   display: inline-block;
   margin: 0 0 0 15px;
}
nav a{
   display: inline-block;
   text-transform: uppercase;
   color: black;
   font-weight: bold;
   font-size: 20px;
   text-decoration: none;
}
nav a:hover{
color: goldenrod;
text-decoration: underline;
}
/* parte principal do site */
/* coloca os produtos um ao lado do outro */
.produtos{
   width: 940px;
   margin: 0 auto;
   padding: 50px 0;
   text-align: center;
}
.produtos li{
   display: inline-block;
   text-align: center;
   width: 30%;
   vertical-align: top;
   margin: 0 1.3%;
   padding: 30px 20px;
   border: 2px solid black;
   border-radius: 50px;
}
.produtos li:hover{
   border-color: goldenrod;
}
.produtos li:hover h2{
   font-size: 30px;
}
.produtos h2{
   font-size: 25px;
   font-weight: bold;
}
.produtos-descricao{
   font-size: 18px;
}
.produtos-preco{
   font-size: 22px;
   font-weight: bold;
}
footer{
   text-align: center;
   background: url("bg.jpg");
   padding: 40px 0;
}
.copyright{
   color: white;
   font-size: 13px;
   margin: 20px 0 0;
}
main{
   width: 940px;
   margin: 0 auto;
}
form{
   margin: 40px 0;
}
form label{
   display: block;
   font-size: 25px;
   margin: 10px;
}
.input-padrao{
   display: block;
   margin: 20px;
   padding: 10px 25px;
   width: 50%;
}
form p{
   display: block;
   font-size: 30px;
   margin: 12px;
}
.checkbox{
   margin: 20px 0;
}



